html {
    background-color: #fdfefb;
    margin: 0px 1px;
    padding: 2px 20px;
    text-decoration: none;
    box-sizing: border-box;
}

* {
    margin: 1px 1px;
    padding: 2px 2px;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #fdfefb;
    display: flex;
    flex-flow: column;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.315);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.fondo1 {
    background: url(../reshot-illustration-abstract-background-QPX5D9EVHZ.png);
    background-blend-mode: lighten;
    background-position: contain;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: auto;
}

.fondo2 {
    background: url(../reshot-illustration-modern-abstract-background-KFUMPYS4ZT.png);
    background-position: contain;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    border-radius: 5px;
    height: auto;
}

.fondo3 {
    border-radius: 5px;
    height: auto;
}

img.icons {
    width: 100px;
    height: 100px;
}


/****************HEADER*****************
****************************************/
.header {
    background: #fdfefb;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}

/*Barra de navegación*/
.header__navbar {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 1 auto;
    color: rgb(196, 196, 196);
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    height: 10%;
    background:#01324d;
}
    .header__navbar a {
        background-color: #2245b700;
        color: #ef4055;
        padding: 5px 5px;
        margin: 0 20px;
        font-size: 12px;
        letter-spacing: 3px;
        border-radius: 10px;
        text-align: center;
        box-sizing: border-box;
    }
    .header__navbar a:hover {
        color: #00eaff;
        transform: scale(105%);
    }

    


/*Título principal*/
.header__title {
    /* From https://css.glass */
    background: rgb(255, 255, 255);
}

    .header__title--name {
        text-align: center;
        flex: 0 1 auto;
        font-size: 9vw;
        color: #094067;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-shadow:
            -2px -2px 0 rgba(255, 255, 255, 0.664),
            2px -2px 0 rgba(255, 255, 255, 0.664),
            -2px 2px 0 rgba(255, 255, 255, 0.664),
            2px 2px 0 rgba(255, 255, 255, 0.664);
    }

    .header__title--position {
        text-align: center;
        margin-top: -50px;
        letter-spacing: 10px;
        font-size: 20px;
        color: #353738;
    }


/*frase*/
.header__section {
    background:#fdfefb;
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;

    color: rgb(255, 255, 255);
    font-style:oblique;
    font-size: 4rem;
    margin:-0px -3.5px 0px -5px;
}




/**************** SOBRE MÍ *****************
********************************************/
.resumen {
    margin-bottom: 10px;
    background-color:#01324d;
}

    .resumen__contenedor {
        display: flex;
        flex-flow:wrap;
        justify-content:center
    }

    .sobre-mi{
        align-self: center;
    }

        .resumen__contenedor--articulos {
        margin: 5px;
        width: 100%;
        }

            .resumen__contenedor--articulos__articulo {
            box-sizing: border-box;
            color: #fdfefb;
            }

            .resumen>h3 {
                color:#ef4055;
            }



/**************** EDUCACIÓN *****************
********************************************/
            .h3_title{
                font-size: 2rem;
                color: #009ecf;
            }



            .educacion {
                height:auto;
                border-radius: 5px;
            }
            .educacion__contenedor {
                border-radius: 5px;
                height: auto;
            }

            .educacion__contenedor--items{
                display: flex;
                flex-flow:row wrap;
                justify-content:center;
                height: auto;
            }

            .educacion__contenedor--items--item{
                background-color: #009fcf;
                color:#01324d;
                width: 30vw;
                height: 30vh;
                border-radius: 15px;
                text-align:center;
                box-sizing: border-box;
                margin: 10px;
                padding: 20px;;
            }
            

/**************** EXPERIENCIAS ***************
********************************************/



/**************** SKILLS ********************
********************************************/
.skills {
    background: #009fcf;
    background-blend-mode: lighten;
    background-position: contain;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-bottom: 10px;
    height: auto;
}

    .skills__programacion{
        background: rgba(15, 14, 14, 0);
        border-radius: 5px;
        margin-bottom: 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-flow: wrap;
        height: auto;
    }

        .skills__programacion--card {
            margin: 1%;
            background-color: #34d1d6a2;
            border-radius: 5px;
            width: 15%;
            height: 35%;
            box-sizing: border-box;
            color: #fff;
            transition: all 0.5s;
        }

        .skills__programacion--card:hover  {
            box-shadow: 2px 2px 10px rgb(88, 88, 88);
            transform: scale(110%);
            border-radius: 15%;
        }

            .ico {
                width: 80px;
                height: 80px;
                background-color: rgb(255, 255, 255);
                border-radius: 40%;
                box-shadow: 0px 1px 5px 1px rgba(5, 71, 88, 0.76);
            }

            .card--barra {
            background-color: #ef4055;
            width: 90%;
            box-sizing: border-box;
            height: auto;
            margin: 0px 5%;
            padding:1px;
            border-radius: 10px;
            }

            .barra--exp {

                text-align: right;
                padding-top: 5px;
                padding-bottom: 0px;
                color: #01324d;
                border-radius: 10px;
            }
                    .python {
                        width: 75%;
                        background-color: #3c92c4;
                    }
                        .names {
                            font-size:1rem;
                            letter-spacing: 2PX;
                        }

                    .html {
                        width: 80%;
                        background-color: #f39f21;
                    }

                    .css {
                        
                            width: 60%;
                            background-color: #36f4cb;
                    }

                    .sqlite{
                        width: 35%;
                        background-color: #36f47f;

                    }




/****************FOOTER*****************
****************************************/
.footer {
    /* From https://css.glass */
    background-color: rgba(255, 255, 255, 0.418);
    opacity: 100%;
    border-radius: 16px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    -o-backdrop-filter: blur(15px);
    border: 1px solid rgba(34, 34, 34, 0.15);
    /* -----------------------*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}




/*------------BOTON DE SUBIR ARRIBA-----------*/
.up {
    text-align: center;
    display: none;
    padding: 10px;
    background: radial-gradient(rgb(17, 226, 198), rgb(5, 197, 171));
    border: 1px solid rgba(255, 255, 255, 0.15);
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 20px;
    z-index: 100;
}

.up>p{
    font-size: 10px;
    text-align: center;
    color: rgb(252, 255, 71);
}

/*-------------------------------------------*/















/***************************************
***************MEDIA QUERY *************
****************************************/
@media (max-width: 722px) {

/****************HEADER*****************
****************************************/
    .header {
        display: flex;
        width: 100%;
        height: 55vh;
    }

    .header__navbar {
        flex-flow: wrap;
        padding: 0%;
    }

    .header__navbar a {
        padding: 5px;
        margin: 5px 5px;
        font-size: 8px;
        box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.548);
        border-radius: 0px;
        transition: all 1s;
    }

    .header__navbar a:hover {
        background-color: #eeeeee ;
        transform: scale(105%);
        border-radius: 5px;
    }









    .header__title--name {
        font-size: 35px;
        letter-spacing: 2px;
        align-content: center;
        height: 50%;
        margin: 0 0%;
    }

    .header__title--position {
        font-size: 11px;
        letter-spacing: 0px;
        margin-top: 5px;
    }

    .header__section {
        height: 50vh;
    }

        .header__section--quote {
            font-size: 15px;
            color: black;
        }

 
        
/****************RESUMEN*****************
****************************************/
    .resumen__contenedor--articulos {
        background-color: rgba(133, 133, 133, 0.596);
        margin: 5%;
        display: flex;
        flex-flow: wrap;
    }

    .resumen__contenedor--articulos__articulo {
        background-color: rgba(124, 124, 124, 0);
    }

    .resumen {
        font-size: 8px;
    }

   
    
/****************FORMACION*****************
****************************************/

.formacion {
    font-size: 30px;
}

.educacion__contenedor--items--item>h5 {
    transform: scale(50%);
}

.educacion__contenedor--items--item>p {
    transform: scale(50%);
}




/****************RESUMEN*****************
****************************************/

.skills__programacion {
    background-position: center;
    height: auto;
    flex-flow: row wrap;
}

.skills__programacion--card {
    margin: 1%;
    background-color: rgba(29, 97, 185, 0.726);
    border-radius: 5px;
    width: 20%;
    height: auto;
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.534);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: border-box;
    font-size:50px;
}

.skills__programacion--card:hover:hover {
    box-shadow: 0px 0px 10px rgb(31, 28, 28);
}

    .ico {
        width: 40px;
        height: 40px;
        margin: 0px;
        border-radius: 40%;
        transition: all 1s;
    }

    .ico:hover {
        width:40px;
        height: 40px;
        margin: 0px;
        background-color:rgba(226, 219, 219, 0.438);
        border-radius: 80%;
        box-shadow: 0px 1px 5px 1px rgb(5, 68, 83);
    }

    .card--barra {
        width: 90%;
        box-sizing: border-box;
        height: auto;
        margin: 5px;
        border-radius: 10px;
    }

    .barra--exp {
        font-size:7px;
        text-align: right;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 0px;
        color: rgb(5, 68, 83);
        border-radius: 10px;
        height: 8px;
    }

    img.icons {
        width: 60px;
        height: 60px;
    }
    
    .names {
        font-size: 10px;
    }

}