


body{
    background-color:rgba(255, 255, 255, 0.623);
    margin-left: 10px;
    margin-right: 10px;
}

/****************************************
*************** HEADER ******************
****************************************/

/*-Header_panel-*/
.header{
    background-color:rgba(255, 255, 255, 0.562);
    background-image: url('https://i.gifer.com/xK.gif');
    background-repeat: round;
    background-blend-mode:overlay;
    image-rendering: optimizeQuality;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom:0px;
    border-radius:15px;
}


/*-Header_panel-nombre-*/
h1.nombre{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 500%;
    font-weight: 700;
    letter-spacing: 0px;
    color:rgba(0, 36, 90, 0.856);
}


/*- Botones de <nav>-*/
#btn{
    padding-left:10px;
    padding-right:10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left:10px;
    margin-right:10px;
    border-radius: 5px;
    text-decoration-line: none;
    border:2px solid rgb(0, 36, 90);
    text-shadow:1px 1px 0 rgb(0, 36, 90);
}

/*-Hover de botones-*/
#btn:hover{
    background-color:rgba(0, 0, 0, 0.233);
}


/*- Texto de botones -*/
#btit{
    font-size:10px;
    color:rgb(255, 255, 255);
    font-weight:bold;
    font-family:'Roboto Mono', monospace;
    text-decoration-line: none;
    border-radius: 5px;
}


/****************************************
********** BLOQUE DE CONTENIDO **********
****************************************/

.contenido{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgba(160, 125, 177, 0.205);
    /*background-image: url('https://i.gifer.com/2yqT.gif'); */
    background-blend-mode:lighten;
    margin-top:0;
    border-radius:5px;
    box-shadow: 0px 0px 5px rgba(7, 3, 31, 0.377);
}

.contenidos{
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

h1, h2, h3, h4, h5, h6, p, ul, li{
    color:rgb(10, 0, 53);
    list-style:square;
}

.tarjeta{
    background-color:rgba(255, 255, 255, 0.562);
    background-image: url('https://i.gifer.com/xK.gif');
    background-blend-mode:lighten;
    text-align: center;
    font-size: small;
}

.section1{
    margin-top: -25px;
}

#tit{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#texto{
    font-size:large;
    text-align: justify;
    font-family:'Courier New', Courier, monospace;
}

#logo{
    width: 90px;
    padding: 10px;
    border-radius: 10px;
    background-color:white;
}

#logo:hover{
    width: 85px;
}

/****************************************
******* MEDIA QUERIES (SCREENS)**********
****************************************/

@media screen and (max-width:700px) {
    #btn{
        padding-left:5px;
        padding-right:5px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left:0px;
        margin-right: 0px;
        border-radius: 10px;
        text-decoration-line: none;
    }
    
    #btn:hover{
        background-color:rgba(0, 0, 0, 0.705);
    }

    #btit{
        font-size:10px;
        color:rgb(255, 255, 255);
        font-weight:bold;
        font-family:Arial, Helvetica, sans-serif;
        text-decoration-line: none;
    }

    #nombre{
        font-size: 300%;
        font-weight: 700;
    }

    #tit{
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 5px rgb(0, 0, 0);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    #texto{
        font-size:medium;
        text-align: justify;
        font-family:'Courier New', Courier, monospace;
    }

    #logo{
        width: 40px;
        padding: 10px;
        border-radius: 10px;
        background-color:white;
    }

    #logo:hover{
        width: 35px;
    }
}



@media screen and (max-width:300px) {
    #btn{
        
        padding-left:10px;
        padding-right:10px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left:5px;
        margin-right: 5px;
        border-style:none;
        letter-spacing: -1px;
        background-color:rgba(0, 0, 0, 0.247)

    }
    
    #btn:hover{
        background: none;
    }

    #btn:any-link{
        text-decoration: none;

    }


    
    #btit{
        font-size:15px;
        color:rgb(243, 243, 243);
        font-weight:bold;
        font-family:'Roboto Mono', monospace;
        
    }

    #nombre{
        font-size: 220%;
        font-weight: 900;
        letter-spacing: -1px;
    }

    #logo{
        width: 30px;
        padding: 10px;
        border-radius: 10px;
        background-color:white;
    }

    #logo:hover{
        width: 25px;
    }
}
